<div id="page_header">
 <a name="top"></a> 
<h1>Baseball Stats Prototype</h1>
<div id="page_header" style="margin:0.5em">
  <a href="/teams">Teams</a>&nbsp;&nbsp;&nbsp;
  <a href="/all_players/1998">All 1998 Players</a>&nbsp;&nbsp;&nbsp;
</div>

<hr>


